@mixin gridbasic($gap) {
  display: grid;
  @if ($gap) {
    grid-gap: $gap;
  }
}

.app {
  @include gridbasic(60px);
  height: 100%;
  padding: 90px 120px;
  grid-template-columns: 2fr 3fr;
  .gridOne {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
    justify-items: center;
    img {
      width: 155px;
      height: 155px;
      border-radius: 50%;
    }
    .button {
      text-align: center;
      cursor: pointer;
      background-color: #fff;
      border-radius: 15px;
      box-shadow: -3px 0 #adfeff, 0 9px #adfeff;
      font-family: "The Kids Mraker";
      padding: 16px 40px;
      height: max-content;
      font-size: 24px;
    }
    .button:active {
      transform: translate(-2px, 4px);
    }
  }
  .gridTwo {
    border: 1px solid #adfeff;
    display: grid;
    grid-template-rows: 1fr 9fr;
    .header {
      background: #ffddb6;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      .headerLabel {
        display: flex;
        gap: 12px;
        align-items: center;
        .catImage {
          background: #fff;
          height: 35px;
          width: 35px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .siteName {
        font-family: "Candy Beans";
        font-size: 18px;
        color: #adfeff;
      }
    }
    .content {
      padding: 30px;
      margin: 0 auto;
      width: 100%;
      @include gridbasic(20px);
      grid-template-rows: 1fr 1fr 1fr;
      .rowContainer {
        position: relative;
        max-width: 540px;
        overflow: hidden;
        white-space: nowrap;
        margin: 0 auto;
        .row {
          display: flex;
          gap: 20px;
          &.animate {
            animation: bannermove 7s alternate infinite;
            animation-timing-function: ease-in-out;
          }
          &.reverse {
            animation: bannermoveReverse 7s alternate infinite;
          }
        }
        .image {
          width: 120px;
          height: 120px;
          flex-grow: 1;
        }
      }
    }
  }
}

@keyframes bannermove {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-110%, 0);
  }
}

@keyframes bannermoveReverse {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(0%, 0);
  }
}
